.head {
    background-color: red;
}

.main {
    flex: 1;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
}

body {
    margin : 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main img {
    height: 100px;
    object-fit: contain;
}

.search_input {
    width: 75vw;
    height: 30px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    border-radius: 999px;
    padding: 10px 20px;
    border: 1px solid gray;
    max-width: 560px;
}

.search_input input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 20px;
}

.search_input .material-icons {
    color: gray;
}

.search_buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search_buttons button {
    margin: 5px;
    border: none;
    outline: none;
    padding: 10px 15px;
}