.header{
    display:flex;
    justify-content: space-between;
    padding:20px
}
.search{
    
}

.search-input input{
    flex:1;
    border:none;
    outline:none;
}
.main{
    flex:1;
    margin-top:12%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

body{
    margin:100vh;
    margin:0;
    display:flex;
    flex-direction:column;
}
.main img{
    height:100px;
    object-fit:contain;
}
.header_left{
}

.header_right{
}
.search-buttons{
    display:flex;
    justify-content: center;
    margin:20px;
}

.search-input{
    width: 75vh;
    height:30px;
    margin:0 auto;
    margin-top:20px;
    max-width:560px;
    display:flex;
    border:1px solid gray;
    border-radius:999px;
    display:flex;
    align-items:center;
    padding: 10px 20px;
}
.search-input .material-icons{
    color:gray;
}

.header_left a{
    text-decoration: none;
    color:black;
}

.header_right a {
    text-decoration: none;
    color:black;
}

.search-buttons button{
    margin:10px;
    border:none;
    padding:10px 20px;
}